# Host Ports
CKAN_PORT_HOST=5000

# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=ckan
CKAN_DB_USER=ckan
CKAN_DB_PASSWORD=ckan
CKAN_SQLALCHEMY_URL=postgresql://ckan:ckan@db/ckan
CKAN_DATASTORE_WRITE_URL=postgresql://ckan:ckan@db/datastore
CKAN_DATASTORE_READ_URL=postgresql://datastore_ro:datastore@db/datastore

# Core CKAN Settings
CKAN_VERSION=2.11
CKAN_SITE_ID=default
CKAN_SITE_URL=http://localhost:5000
CKAN___BEAKER__SESSION__SECRET=CHANGE_ME_TO_RANDOM_STRING
CKAN___API_TOKEN__JWT__ENCODE__SECRET=string:CHANGE_ME_TO_RANDOM_STRING
CKAN___API_TOKEN__JWT__DECODE__SECRET=string:CHANGE_ME_TO_RANDOM_STRING

# System Admin
CKAN_SYSADMIN_NAME=ckan_admin
CKAN_SYSADMIN_PASSWORD=test1234
CKAN_SYSADMIN_EMAIL=admin@example.com

# Search
CKAN_SOLR_URL=http://solr:8983/solr/ckan

# Redis
CKAN_REDIS_URL=redis://redis:6379/1

# DataPusher
CKAN_DATAPUSHER_URL=http://datapusher:8800

# Extensions
CKAN__PLUGINS=image_view text_view datatables_view datastore datapusher scheming_datasets branding schemas spatial_metadata spatial_query

# Upload settings
CKAN_MAX_UPLOAD_SIZE_MB=1000

# Custom MSP settings
DOMAINAREAS_URL=https://api.tools4msp.eu/api/v2/domainareas/?format=json

# SMTP settings
CKAN_SMTP_SERVER=email.ismar.cnr.it
CKAN_SMTP_STARTTLS=false
CKAN_SMTP_MAIL_FROM=catalogue4msp@ismar.cnr.it